<header class="page-header">
    <h1><a href="/">Urban Labo</a></h1>
    <nav>
        <ul class="main-nav">
            <li class="has-child"><a href="">このサイトについて</a>
                <ul class="sub-menu">
                    <li><a href="/aboutThisSite">このサイトの目的</a></li>
                    <li><a href="/aboutUEA">都市雇用圏について</a></li>
                    <li><a >使用しているデータについて</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="">全国都市雇用圏マップ</a>
                <ul class="sub-menu">
                    <li><a >令和2（2020）年</a></li>
                    <li><a href="/ueamap2015">平成27（2015）年</a></li>
                    <li><a >平成22（2010）年</a></li>
                    <li><a >平成17（2005）年</a></li>
                    <li><a href="/ueamap2000">平成12（2000）年</a></li>
                    <li><a >平成7（1995）年</a></li>
                    <li><a >平成2（1990）年</a></li>
                    <li><a >昭和55（1980）年</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="">コンテンツ</a>
                <ul class="sub-menu">
                    <li><a >都市雇用圏ランキング</a></li>
                    <li><a >ダウンロード</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>